<h2>Book detail</h2>
  <table class="table">
    <tr>
      <td><%= link_to "a", user_path(current_user.id) %></td>
    <% if @book.user == current_user %>
      <td>
        <%= link_to "Destroy", book_path(@book), method: :delete, class: "btn btn-sm btn-danger link-light" %>
      </td>
    <% end %>
    </tr>
  </table>